.logo {
  color: $accent-color;

  text-decoration: none;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  &-header-black {
    color: $title-text-color;
  }
  &-footer-white {
    color: $primary-white-color;
  }
}
