.section {
  margin-top: 94px;
  margin-bottom: 94px;

  &.directions {
    margin-bottom: 188px;
  }

  &.team {
    background-color: #f5f4fa;
    margin-bottom: 188px;
  }
  &-title.advantages {
    display: none;
  }
  &-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: $title-text-color;
  }
}
