.team-list {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  text-align: center;

  .item {
    width: calc((100% - 30px * 3) / 4);
    height: 422px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    background-color: $primary-white-color;
  }

  .item:not(:last-child) {
    margin-right: 30px;
  }

  .team-photo {
    align-items: center;
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
  }
  .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 10px;
    color: $title-text-color;
  }
  .team-position {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 10px;
    margin-bottom: 16px;
  }
}
